<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Usuarios <ion-button style="margin-left: 180px;" (click)="new()" color="light">Novo</ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>


<div *ngFor="let item of usuarios">
  <ion-card >
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title> {{item.nome}} </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>    
  </ion-card>
</div>